<section style="height: 120vh; width: 100%">
  <h1
    class="text-dark p-5 text-start"
    style="text-shadow: 2px 6px 4px rgba(0, 0, 0, 0.46); font-weight: bold"
  >
    Portfolio
  </h1>
  <div class="container">
    <div class="row justify-content-center">
      <div
        class="col-3 bg-secondary d-flex flex-column justify-content-center text-center fs-5 m-3"
        style="height: 200px; box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.5)"
      >
        <p class="text-white">WEB DESIGN</p>
        <hr class="w-50 mt-1 mx-auto border-3 text-white" />
      </div>
      <div
        class="col-3 bg-dark d-flex flex-column justify-content-center text-center fs-5 m-3"
        style="height: 200px; box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.5)"
      >
        <p class="text-white">MOBILE DESIGN</p>
        <hr class="w-50 mt-1 mx-auto border-3 text-white" />
      </div>
      <div
        class="col-3 bg-secondary d-flex flex-column justify-content-center text-center fs-5 m-3"
        style="height: 200px; box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.5)"
      >
        <p class="text-white">LOGO DESIGN</p>
        <hr class="w-50 mt-1 mx-auto border-3 text-white" />
      </div>
      <div
        class="col-3 bg-dark d-flex flex-column justify-content-center text-center fs-5 m-3"
        style="height: 200px; box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.5)"
      >
        <p class="text-white">WEB APPLICATION DEVELOPMENT</p>
      </div>
      <div
        class="col-3 bg-secondary d-flex flex-column justify-content-center text-center fs-5 m-3"
        style="height: 200px; box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.5)"
      >
        <p class="text-white">MOBILE APPLICATION DEVELOPMENT</p>
      </div>
      <div
        class="col-3 bg-dark d-flex flex-column justify-content-center text-center fs-5 m-3"
        style="height: 200px; box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.5)"
      >
        <p class="text-white">PWA DEVELOPMENT</p>
      </div>
    </div>
  </div>
</section>
