<section class="row p-5" style="height: fit-content; width: 100%">
  <aside class="col-4">
    <h1
      class="text-dark"
      style="text-shadow: 2px 6px 4px rgba(0, 0, 0, 0.46); font-weight: bold"
    >
      About me
    </h1>
  </aside>
  <aside class="col-8 text-start">
    <p
      class="mb-5 text-secondary"
      style="width: 100%; font-size: 1em; word-wrap: break-word"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio,
      doloribus? Voluptatibus cum quaerat, necessitatibus voluptas quisquam illo
      vitae doloremque enim iure ullam minus vel sed accusantium culpa libero
      eaque. Aspernatur? Cum explicabo, sapiente nam quis facere labore. Animi
      nesciunt eligendi a esse odio dolorem illo ipsa laudantium, optio iste sit
      officiis commodi sed debitis rerum deserunt laborum, qui reiciendis quia.
      Nobis, omnis. Quasi perferendis natus vitae, porro totam earum repellendus
      eveniet reprehenderit alias, non dolorem voluptates ipsam ducimus officiis
      similique dolores. Necessitatibus alias eos, facilis ipsum doloribus
      beatae eligendi tempore.
    </p>
    <a
      href="../../assets/MalakHaithamMustafa_Flutter Developer for github.pdf"
      download="MalakHaitham_Resume.pdf"
      class="btn btn-dark py-3 px-4 rounded-0"
      >Download Resume</a
    >
  </aside>
</section>
