<main class="container-sm border rounded p-4 bg-light shadow">
  <!-- Form Title -->
  <p class="display-4 text-center fw-bold mb-4">Login</p>

  <!-- Login Form -->
  <form
    #loginForm="ngForm"
    (ngSubmit)="handleSubmitForm(loginForm)"
    class="w-45 w-md-50 mx-auto"
  >
    <!-- Email Input -->
    <div class="mb-3">
      <label for="email" class="form-label fw-bold">Email Address</label>
      <input
        required
        type="email"
        class="form-control"
        id="email"
        name="email"
        ngModel
        #email="ngModel"
        pattern="[^@ \t\r\n]+@[^@ \t\r\n]+\.[^@ \t\r\n]+"
        autocomplete="email"
        placeholder="Enter your email"
      />
      @if (email.invalid && email.touched) {
      <div class="form-text text-danger">
        @if (email.hasError('required')) {
        <span>Email is required.</span>
        } @if (email.hasError('pattern')) {
        <span>Invalid email format.</span>
        }
      </div>
      }
    </div>

    <!-- Password Input -->
    <div class="mb-3">
      <label for="password" class="form-label fw-bold">Password</label>
      <input
        required
        type="password"
        class="form-control"
        id="password"
        name="password"
        ngModel
        #password="ngModel"
        pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$ %^&*-]).{8,}$"
        minlength="8"
        maxlength="50"
        autocomplete="current-password"
        placeholder="Enter your password"
      />
      @if (password.invalid && password.touched) {
      <div class="form-text text-danger">
        @if (password.hasError('required')) {
        <span>Password is required.</span>
        } @if (password.hasError('pattern')) {
        <span
          >Password must contain uppercase, lowercase, number, and special
          character.</span
        >
        }
      </div>
      }
    </div>

    <!-- Submit Button -->
    <button
      type="submit"
      class="btn btn-primary btn-lg rounded-pill w-100 mt-3"
      [disabled]="loginForm.invalid"
    >
      Login
    </button>

    <!-- Register Link -->
    <div class="text-center mt-3">
      <span>Don't have an account? </span>
      <a routerLink="/register" class="text-decoration-none fw-bold"
        >Register</a
      >
    </div>
  </form>
</main>
