<footer
  class="bg-dark text-center p-4 row"
  style="width: 100%; height: fit-content"
>
  <aside
    class="col-4 text-light text-start d-flex flex-column justify-content-center"
  >
    <h4 class="mb-4">GET IN TOUCH</h4>
    <div class="fs-5">
      <i class="fas fa-envelope me-2"></i>
      <span>malakhaitham2027&#64;gmail.com</span>
    </div>
    <div class="fs-5">
      <i class="fas fa-phone me-2"></i>
      <span>+20-10650-161-51</span>
    </div>
  </aside>
  <aside
    class="col-4 d-flex flex-column justify-content-center align-items-center"
  >
    <button class="btn btn-outline-light">CONTACT ME</button>
  </aside>
  <aside
    class="col-4 text-light text-end fs-5 d-flex flex-column justify-content-center"
  >
    <div class="mb-3">
      <fa-icon [icon]="['fab', 'linkedin']" class="me-2"></fa-icon>
      <fa-icon [icon]="['fab', 'facebook']" class="me-2"></fa-icon>
      <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
    </div>
    <span>Copyright &#64;2025 KR</span>
  </aside>
</footer>
