<section class="bg-dark p-5 text-center" style="width: 100%">
  <h1 class="text-light" style="text-shadow: 2px 6px 4px rgba(0, 0, 0, 0.46)">
    Skills
  </h1>
  <p class="text-light my-5 mx-auto w-75">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque earum
    consequuntur harum ipsum voluptatem officia nostrum temporibus odio
    laboriosam reiciendis porro dignissimos explicabo iste numquam, architecto
    id commodi delectus? At. Repellendus ducimus enim nobis laboriosam quisquam!
    Tempore soluta explicabo voluptas? Quae corrupti odio provident in
    consequuntur quisquam maiores similique nam, repellat earum. Sint hic nemo
    tenetur esse voluptas minima perferendis!
  </p>
  <div class="row" style="width: 100%">
    <aside class="col-6">
      <h4 class="my-4 text-light">My Focus</h4>
      <hr class="text-light w-50 mx-auto" />
      <h4 class="my-4 text-light">UI/UX Design</h4>
      <h4 class="my-4 text-light">Responsive Design</h4>
      <h4 class="my-4 text-light">Web Design</h4>
      <h4 class="my-4 text-light">Mobile App Design</h4>
    </aside>
    <aside class="col-6">
      <div class="mb-3 w-75" style="display: flex; align-items: center">
        <span
          class="text-light"
          style="
            width: 100px;
            font-weight: bold;
            background-color: black;
            padding: 6px;
          "
          >HTML</span
        >
        <div
          style="
            flex-grow: 1;
            height: 35px;
            background-color: #e0e0e0;
            overflow: hidden;
          "
        >
          <div style="height: 100%; background-color: silver; width: 70%"></div>
        </div>
      </div>
      <div class="mb-3 w-75" style="display: flex; align-items: center">
        <span
          class="text-light"
          style="
            width: 100px;
            font-weight: bold;
            background-color: black;
            padding: 6px;
          "
          >CSS</span
        >
        <div
          style="
            flex-grow: 1;
            height: 35px;
            background-color: #e0e0e0;
            overflow: hidden;
          "
        >
          <div style="height: 100%; background-color: silver; width: 65%"></div>
        </div>
      </div>
      <div class="mb-3 w-75" style="display: flex; align-items: center">
        <span
          class="text-light"
          style="
            width: 100px;
            font-weight: bold;
            background-color: black;
            padding: 6px;
          "
          >JavaScript</span
        >
        <div
          style="
            flex-grow: 1;
            height: 35px;
            background-color: #e0e0e0;
            overflow: hidden;
          "
        >
          <div style="height: 100%; background-color: silver; width: 60%"></div>
        </div>
      </div>
      <div class="mb-3 w-75" style="display: flex; align-items: center">
        <span
          class="text-light"
          style="
            width: 100px;
            font-weight: bold;
            background-color: black;
            padding: 6px;
          "
          >React</span
        >
        <div
          style="
            flex-grow: 1;
            height: 35px;
            background-color: #e0e0e0;
            overflow: hidden;
          "
        >
          <div style="height: 100%; background-color: silver; width: 30%"></div>
        </div>
      </div>
      <div class="mb-3 w-75" style="display: flex; align-items: center">
        <span
          class="text-light"
          style="
            width: 100px;
            font-weight: bold;
            background-color: black;
            padding: 6px;
          "
          >Photoshop</span
        >
        <div
          style="
            flex-grow: 1;
            height: 35px;
            background-color: #e0e0e0;
            overflow: hidden;
          "
        >
          <div style="height: 100%; background-color: silver; width: 40%"></div>
        </div>
      </div>
      <div class="mb-3 w-75" style="display: flex; align-items: center">
        <span
          class="text-light"
          style="
            width: 100px;
            font-weight: bold;
            background-color: black;
            padding: 6px;
          "
          >Adobe XD</span
        >
        <div
          style="
            flex-grow: 1;
            height: 35px;
            background-color: #e0e0e0;
            overflow: hidden;
          "
        >
          <div style="height: 100%; background-color: silver; width: 40%"></div>
        </div>
      </div>
      <div class="mb-3 w-75" style="display: flex; align-items: center">
        <span
          class="text-light"
          style="
            width: 100px;
            font-weight: bold;
            background-color: black;
            padding: 6px;
          "
          >Node.js</span
        >
        <div
          style="
            flex-grow: 1;
            height: 35px;
            background-color: #e0e0e0;
            overflow: hidden;
          "
        >
          <div style="height: 100%; background-color: silver; width: 10%"></div>
        </div>
      </div>
      <div class="mb-3 w-75" style="display: flex; align-items: center">
        <span
          class="text-light"
          style="
            width: 100px;
            font-weight: bold;
            background-color: black;
            padding: 6px;
          "
          >WordPress</span
        >
        <div
          style="
            flex-grow: 1;
            height: 35px;
            background-color: #e0e0e0;
            overflow: hidden;
          "
        >
          <div style="height: 100%; background-color: silver; width: 70%"></div>
        </div>
      </div>
    </aside>
  </div>
</section>
