<main class="container p-5">
  <h1 class="mb-5">Users List</h1>
  <hr />
  <div class="row g-3 mt-3 d-flex justify-content-center">
    @for (user of users; track user.id){
    <div
      class="col-3 mx-2 text-center rounded border border-1 border-secondary"
      style="background-color: azure"
    >
      <img
        class="rounded-circle mt-4 mb-2 border border-1 border-dark text-bg-light"
        [src]="user.image"
        alt="user.username"
      />
      <div class="mb-4">
        <span
          class="badge mb-3"
          [ngClass]="
            user.role == 'admin'
              ? 'text-bg-danger'
              : user.role == 'moderator'
              ? 'text-bg-warning'
              : user.role == 'user'
              ? 'text-bg-success'
              : ''
          "
          >{{ user.role }}</span
        >
        <br />
        <span>{{ user.username }}</span>
        <br />
        <span>{{ user.email }}</span>
        <br />
        <span>{{ user.phone }}</span>
        <br />
        <span>{{ user.birthDate }}</span>
      </div>
    </div>
    }
  </div>
</main>
